<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Instragram Friend Finder</title>
  <style>
    body {
        font-family: "Proxima Nova", sans-serif;
    }
    a {
        color: #37b629;
    }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>